
.yellowcol{
    background-color: rgb(243, 186, 72);
}

.pinkcol{
    background-color: rgb(234, 51, 81);
}

.bluecol{
    background-color: rgb(88, 91, 217);
}

.greencol{
    background-color: rgb(65, 238, 250);
}

.flash{
    background-color: whitesmoke;
} 

body{
    text-align: center;
    cursor: url('./OIP.jpg'),auto;
}

.btn{
    width: 150px;
    height: 150px;
    margin: 2.5rem;
    border: 10px solid black;
    border-radius: 10%;
}

.main-box{
    display: flex;
    justify-content: center;
}

.userflash{
    background-color: greenyellow;
}
